{% extends "index" %}

{% block content %}

{{entry.productname}}




<div class="article">

        <div>
        
        {% set productImage = entry.imageproduct.one() %}
        {% if productImage %}
            <img class="couch" src="{{ productImage.getUrl() }}" alt="{{ productImage.title }}">
        {% else %}
            <img class="couch" src="{{ siteUrl }}/static/Images/default-image.jpg" alt="Default Image">
        {% endif %}
        </div>

        <div>
        <H1>{{entry.title}}</H1>
        <p> € {{entry.price}}</p>
        <p class="colorway">{{entry.colorway}}</p>
        <h2>Details</h2>
        <p>{{entry.details}}.</p>

            <button class="button"> add to cart</button>
        </div>

    </div>






















{% endblock %}