{% extends "index" %}

{% block content %}
    

  <a href="">
    <header class="bg-image">
        {% set HeaderImage = entry.headerimage.one() %}
                    {% if HeaderImage %}
                        <img src="{{ HeaderImage.getUrl() }}">
                    {% endif %}
    </header>
    </a>

    

<div id="productstext-container" style="color: inherit; font-size: 2em; font-weight: bold;">
    {{ entry.productstext}}
</div>

<div class="filter-options">
    <form method="get">
        <label for="price-filter" class="filter-label">Sort by Price:</label>
        <select id="price-filter" name="price-filter" class="filter-select">
            <option value="asc">Least to Most Expensive</option>
            <option value="desc">Most to Least Expensive</option>
        </select>
        <button type="submit" class="filter-button">Apply</button>
    </form>
</div>


{% set sortBy = craft.app.request.getParam('price-filter') ?? 'asc' %}
{% set entries = craft.entries()
    .section('detailsproduct')
    .orderBy('price ' ~ sortBy)
    .all() %}

<div class="allProducts">

{% set entries = craft.entries().section('detailsproduct').all() %}
        {% for entry in entries %}

    <div class="products">
    

        {% set imageproduct = entry.imageproduct.one() %}

        <a href="couch-details-product/{{entry.slug}}">
            {% if imageproduct %}
                <img src="{{ imageproduct.url }}" alt="">
            {% else %}
                <img src="{{ siteUrl }}/path/to/default-image.jpg" alt="Default Image">
            {% endif %}

            <h2>{{ entry.title }}</h2>
            <p>€ {{ entry.price }}</p>
            <a ><a/>
            <button class="button">add to cart</button>
        </a>
        
</div>
{% endfor %}



   

   
</div>

{% endblock %}